h1 {
    font-family: Avenir;
    font-size: 120px;
    margin: 30px;
    text-align: center
}

p {
    font-family: Avenir;
    font-size: 60px;
}
 body {
     background-color: lightgray;
     margin: 0px 100px 0px 100px;
 }

 img {
     margin: 30px;
     
 }

img.center {
    display: block;
    margin: 0 auto;
}

.test{
    height:200px;
    width:200px;
}

 a {
     font-family: Avenir;
     color: black;
     font-size: 20px
 }
